body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    width: 700px;
    height: 700px;
    border: solid black 2px;
    display: flex;
    flex-wrap: wrap;
}

#container div {
    flex: 1 1 0;
}

.inked-square {
    background-color: black;
}