body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#buttonNew {
    padding: 10px 15px;
    background-color: white;
    border: solid black 1px;
}

#container {
    width: 700px;
    height: 700px;
    border: solid black 2px;
    display: flex;
    flex-wrap: wrap;
}

#container div {
    flex: 1 1 0;
}
